<div class="blogDiv">
<article id="{{.id}}">
  <form>
    <input type="text" id="blogid" name="blogid">
    <input type="submit" id="submit" name="submit">
</form>
<h1>
{{.title}}
</h1>
  {{.post}}
</a>
</div>
